.addBox {
    float:left;
    border: 3px solid rgb(140, 140, 140);
    width: 350px;
    height: 24%;
    margin-left: 2%;
    margin-top: -1.5px;
    h4 {
        width:105px;
        margin-top:-20px;
        margin-left:20px;
        background:#424242;
        font-size: 250%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        color: rgb(225, 224, 224);
    }
    .addInput {
        width: 95%;
        margin-top: -1%;
        margin-left: 2%;
    }
    .addButton {
        margin-left: 42%;
        margin-top: -5.5%;
        box-shadow: 4px 4px 0 rgb(123, 123, 123);
    }
}
.addSKill {
    width: 330px;
    height: 20%;
    margin-left: 1.8%;
    fieldset {
        width: 100.7%;
        color: rgb(140, 140, 140);
        legend {
            font-size: 150%;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: rgb(225, 224, 224);
        }
    }
    button {
        margin-top: -1.5%;
        width: 10em; /* Ширина кнопки */
        height: 3em;
        width: 100%;
        box-shadow: 4px 4px 0 rgb(123, 123, 123);
    }
    .addInputSkill {
        width: 95%;
        margin-top: -1.75%;
        margin-left: 2%;
    }
}
.rightBox {
    float:right;/* Положение справа */
    width: 61%; /* Ширина */
    height: 85%; /* Высота */
    border: 3px rgb(225, 224, 224);
    margin-right: 90px;
    margin-top: -4px;
    .sortBox {
        border: 3px solid rgb(140, 140, 140);
        width: 107.8%;
        height: 50%;
        .row {
            color: rgb(225, 224, 224);
            font-size: 130%;
            width: 100%;
            margin-left: 2%;
            margin-top: 1%;
            .rowRightSide {
                float: right;
                margin-bottom: 7%;
                margin-right: 9%;
                mat-form-field {
                    max-width: 59%;
                }
            }
            mat-form-field{
                max-width: 10%;
                .miniNumInput {
                    margin-left: 1%;
                    margin-right: 3%;
                }

            }
        }
        .row2 {
            color: rgb(225, 224, 224);
            font-size: 130%;
            width: 100%;
            margin-left: 2%;
            margin-top: 3%;
            .rowRightSide {
                float: right;
                margin-top: -10.5%;
                margin-right: -1.5%;
            }
            mat-form-field {
                width: 25%;
                margin-left: 1.5%;
            }           
        }
    }
}   
