:host {
    .line {
        height: 20px;
    }
    .routingButton {
        width: 47.5%;
        margin-top: -2px;
        margin-bottom: 0.8%;
        background-color: #00C853;
        margin-left: 1.8%;
        box-shadow: 4px 4px 0 rgb(123, 123, 123);
    }
    .routingButtonTable {
        width: 47.7%;
        margin-top: -2px;
        margin-bottom: 0.8%;
        margin-left: 1%;
        background-color: rgb(140, 140, 140);
        box-shadow: 4px 4px 0 rgb(123, 123, 123);
    }   
}