<table [dataSource]="dataSource" 
       mat-table 
       class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <td *matCellDef="let element"
        mat-cell> 
      {{ element.id }} 
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <td *matCellDef="let element"
        mat-cell> 
      {{ element.name }} 
    </td>
  </ng-container>
  <ng-container matColumnDef="power">
    <td *matCellDef="let element"
        mat-cell> 
      {{ element.power }} 
    </td>
  </ng-container>
  <ng-container matColumnDef="skills">
    <td *matCellDef="let element"
        mat-cell> 
      {{ element.skills }} 
    </td>
  </ng-container>
  <ng-container matColumnDef="level">
    <td *matCellDef="let element"
        mat-cell> 
      {{ element.level }} 
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <td *matCellDef="let element"
        mat-cell>
      <button (click)="removeRow(element.id)" 
              mat-icon-button 
              color="warn">
      <mat-icon>
          delete_forever
        </mat-icon>
      </button>
    </td>
  </ng-container>
  <tr *matRowDef="let row; columns: displayedColumns;"
      mat-row ></tr>
</table>